@font-face {
  font-family: 'Circe';
  src: url("../font/Circe/circe-light.eot");
  src: local("circe-light"), local("circe-light"), url("../font/Circe/circe-light.eot?#iefix") format("embedded-opentype"), url("../font/Circe/circe-light.woff2") format("woff2"), url("../font/Circe/circe-light.woff") format("woff"), url("../font/Circe/circe-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Circe';
  src: url("../font/Circe/circe-regular.eot");
  src: local("Circe"), local("Circe-Regular"), url("../font/Circe/circe-regular.eot?#iefix") format("embedded-opentype"), url("../font/Circe/circe-regular.woff2") format("woff2"), url("../font/Circe/circe-regular.woff") format("woff"), url("../font/Circe/circe-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Circe';
  src: url("../font/Circe/circe-bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("../font/Circe/circe-bold.eot?#iefix") format("embedded-opentype"), url("../font/Circe/circe-bold.woff2") format("woff2"), url("../font/Circe/circe-bold.woff") format("woff"), url("../font/Circe/circe-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Brandon Text';
  src: url("../font/Brandon_Text/brandontext-regular.eot");
  src: local("../font/Brandon_Text/Brandon Text Regular"), local("brandontext-regular"), url("../font/Brandon_Text/brandontext-regular.eot?#iefix") format("embedded-opentype"), url("../font/Brandon_Text/brandontext-regular.woff2") format("woff2"), url("../font/Brandon_Text/brandontext-regular.woff") format("woff"), url("../font/Brandon_Text/brandontext-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
*,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

.main__style {
  background-color: #fff; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 19; }

.container {
  width: 96%;
  margin: 0 auto; }

.show {
  width: 100vw;
  height: 100vh;
  background-color: #5b6170;
  position: fixed;
  z-index: 19;
  top: 0;
  left: 0;
  transition: 0.5s; }

.all-certs__modal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: 100vh; }
.all-certs__btn {
  width: 7vw;
  height: 100vh;
  background-color: transparent;
  font-size: 5vw;
  font-weight: 300;
  text-align: center;
  color: #30333b;
  border: none;
  outline: none; }
  .all-certs__btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1); }
.all-certs__gallery {
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
.all-certs__img {
  width: 80vw;
  height: auto; }
.all-certs__close {
  width: 6vw;
  padding-top: 3vh;
  display: flex;
  justify-content: center; }
.all-certs__cross {
  color: #fff;
  font-family: "Circe";
  font-size: 10vw;
  text-decoration: none; }
  .all-certs__cross:hover {
    cursor: pointer;
    color: rgba(234, 238, 240, 0.3); }

.bg-transparent {
  background-color: rgba(26, 26, 26, 0.7); }

.header {
  width: 100%;
  margin: 0 auto; }
  .header__style {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 17px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__logo {
    padding: 0 117px 12px 7px; }
  .header__burger {
    font-family: "Circe";
    font-size: 3rem;
    color: #000;
    position: relative;
    z-index: 20; }
    .header__burger:hover {
      cursor: pointer;
      color: #606060; }
  .header__burger-color {
    position: fixed;
    color: #fff; }
    .header__burger-color:hover {
      color: #000; }
  .header__logo-burger {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; }
  .header__menu {
    display: none; }
  .header__item {
    padding: 0 4px;
    font-family: "Circe";
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #265ce3; }
    .header__item:hover {
      color: #000; }
  .header__button {
    padding: 0 14px 0 6px; }
  .header__btn {
    width: 144px;
    height: 44px;
    background-color: #5b6170;
    color: #fff;
    font-family: "Circe";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 3rem;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 22px; }
    .header__btn:hover {
      cursor: pointer;
      background-color: #f5aa16;
      color: #000; }
  .header__tel {
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2rem;
    text-transform: uppercase;
    text-decoration: none; }
    .header__tel:hover {
      cursor: pointer;
      color: #000; }
  .header__btn-tel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }

.burger {
  width: 70%;
  padding-top: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }
  .burger__link {
    display: block;
    font-family: "Circe";
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 20px; }
    .burger__link:hover {
      color: #15afef; }

.cover {
  width: 100%;
  background-color: #fff; }
  .cover__mobile-bg {
    background-image: url(../img/mobile/cover_bg.jpg);
    width: 100%;
    height: 60vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto; }
  .cover__style {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .cover__title {
    width: 280px;
    padding: 0 0 17px 0;
    color: #265ce3;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.86px;
    text-align: center; }
  .cover__text {
    padding-bottom: 23px;
    width: 185px;
    color: #30333b;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.38px;
    text-align: center; }
  .cover__subtext {
    display: block;
    color: #606060;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.38px;
    line-height: normal; }
  .cover__buttons {
    display: flex;
    align-items: center; }
  .cover__btn {
    width: 169px;
    height: 57px;
    border-radius: 28px;
    background-color: #f5aa16;
    color: #1e2024;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 1.03px;
    border: none;
    outline: none; }
    .cover__btn:hover {
      cursor: pointer;
      background-color: #5b6170;
      color: #fff; }
  .cover__msgers {
    padding: 0 0 0 28px; }
  .cover__msg-item {
    text-decoration: none;
    padding: 0 7px; }
  .cover__text-free {
    padding-top: 17px;
    width: 200px;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.38px;
    text-align: center; }

.promotext__style {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 6px; }
.promotext__alltext {
  padding-top: 30px; }
.promotext__alltitle {
  padding-top: 30px; }
.promotext__title {
  color: #265ce3;
  font-family: "Circe";
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center; }
.promotext__subtitle {
  color: #265ce3;
  font-family: "Circe";
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 30px;
  text-align: center; }
.promotext__text {
  color: #5b6170;
  font-family: "Circe";
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 24px;
  text-align: center; }
.promotext__img {
  width: 98%; }

.about {
  width: 100%;
  background-color: #ededed;
  padding: 30px 0 20px 0;
  margin: 0 auto; }
  .about__style {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .about__title {
    width: 100%;
    color: #15afef;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
    text-align: center; }
  .about__subtitle {
    width: 98%;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 700;
    padding: 20px 0 25px 0;
    text-align: center; }
  .about__fline-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .about__fline-item {
    width: 100%;
    display: flex;
    justify-content: center; }
  .about__icon-item {
    width: 45px;
    display: flex;
    justify-content: flex-end; }
  .about__icons {
    fill: #15afef; }
  .about__item-text {
    width: 80%;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left; }
  .about__sline-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .about__sline-item {
    display: flex;
    align-items: flex-start;
    justify-content: center; }

.forwhom {
  padding-top: 45px;
  padding-bottom: 30px; }
  .forwhom__title {
    width: 100%;
    color: #5b6170;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
    line-height: 3rem; }
  .forwhom__subtitle {
    width: 100%;
    text-align: center;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.7rem;
    line-height: 1.7rem;
    font-weight: 700;
    padding-bottom: 25px; }
  .forwhom__fline-items {
    width: 100%; }
  .forwhom__fline-item {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .forwhom__icon-item {
    width: 100%;
    text-align: center; }
  .forwhom__icons {
    fill: #ebaf04; }
  .forwhom__text {
    width: 80%;
    padding-top: 30px;
    padding-bottom: 40px;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center; }
  .forwhom__sline-items {
    padding-bottom: 25px; }
  .forwhom__sline-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .forwhom__footer-text {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px; }
  .forwhom__footer-title {
    font-family: "Circe";
    font-size: 1.7rem;
    font-weight: 700;
    color: #ebaf04;
    text-transform: uppercase;
    line-height: 1.7rem;
    padding-bottom: 30px; }
  .forwhom__footer-subtitle {
    font-family: "Circe";
    color: #5b6170;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.7rem; }
  .forwhom__button {
    width: 100;
    display: flex;
    justify-content: center; }
  .forwhom__btn {
    width: 352px;
    height: 44px;
    border-radius: 22px;
    background-color: #ebaf04;
    border: none;
    outline: none;
    color: #1e2024;
    font-family: "Circe";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 3rem;
    text-transform: uppercase; }
    .forwhom__btn:hover {
      cursor: pointer;
      color: #fff;
      background-color: #5b6170; }

.program {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(21, 174, 239, 0.1);
  padding: 40px 0 0 0; }
  .program__style {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .program__title {
    color: #15afef;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 400;
    line-height: 2rem;
    padding-bottom: 47px;
    text-align: center; }
  .program__subtitle {
    width: 90%;
    color: #15afef;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 35px;
    text-align: center; }
  .program__list {
    width: 90%; }
  .program__items {
    counter-reset: myCounter; }
  .program__item {
    font-family: "Circe";
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 400;
    list-style: none;
    position: relative;
    padding-left: 15px;
    padding-bottom: 15px; }
    .program__item::before {
      counter-increment: myCounter;
      content: counter(myCounter) ".";
      display: inline-block;
      position: absolute;
      left: 0px;
      width: 5px;
      color: #15afef; }
  .program__day {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .program__icons {
    line-height: 20px;
    fill: #fff;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center; }
  .program__day-numb {
    margin: 0 auto;
    width: 152px;
    height: 59px;
    border-radius: 10px;
    background-color: #15afef;
    padding: 10px 0 10px 15px;
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
    color: #fff; }
  .program__day-text {
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    line-height: 2rem;
    padding-bottom: 10px; }
  .program__day-count {
    padding-left: 20px;
    color: #fff;
    font-family: "Circe";
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem; }
  .program__day-items {
    padding-left: 18px;
    width: 95%;
    counter-reset: myCounter; }
  .program__day-item {
    font-weight: 400;
    list-style: none;
    position: relative;
    padding-left: 20px; }
    .program__day-item::before {
      counter-increment: myCounter;
      content: counter(myCounter) ".";
      display: inline-block;
      position: absolute;
      left: 0px;
      width: 5px;
      color: #5b6170; }
  .program__webinar {
    padding: 20px 0 28px 21px;
    display: flex;
    align-items: center; }
  .program__webinar-text {
    width: 85%;
    font-weight: 700;
    padding-left: 18px;
    line-height: 1.6rem; }
  .program__line {
    width: 100%;
    height: 1px;
    background-color: #15afef;
    margin: 0 0 0 0;
    padding: 0 0 0 0; }

.teacher {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px 0 40px 0; }
  .teacher__container {
    width: 100%; }
  .teacher__title {
    color: #5b6170;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 400;
    line-height: 2rem;
    padding-bottom: 41px;
    text-align: center; }
  .teacher__carousel {
    padding-bottom: 27px; }
  .teacher__carousel-left {
    width: 100%; }
  .teacher__l-text {
    width: 100%;
    background-color: #5b6170;
    padding: 60px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .teacher__name {
    width: 50%;
    text-align: center;
    color: #fff;
    font-family: "Circe";
    font-size: 2.6rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 3.4rem;
    padding-bottom: 35px; }
  .teacher__position {
    width: 65%;
    text-align: center;
    color: #fff;
    font-family: "Circe";
    font-size: 1.7rem;
    font-weight: 300;
    padding-bottom: 45px;
    line-height: 2.1rem; }
  .teacher__education {
    width: 80%;
    text-align: center;
    color: #fff;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem; }
  .teacher__foto {
    background-image: url(../img/litenko_v-1.jpg);
    width: 100%;
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
  .teacher__soc-fb {
    position: absolute;
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -25px;
    left: calc(50% - 27px);
    background-color: #15afef; }
    .teacher__soc-fb:hover {
      cursor: pointer;
      background-color: #fff; }
  .teacher__carousel-right {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .teacher__experience {
    width: 100%;
    text-align: center;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    padding-bottom: 20px; }
  .teacher__certs {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .teacher__cert {
    margin: 0 20px;
    padding-bottom: 20px;
    position: relative; }
    .teacher__cert-hover {
      display: none; }
    .teacher__cert:hover {
      cursor: pointer; }
      .teacher__cert:hover .teacher__cert-hover {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 81px;
        height: 116px;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center; }
  .teacher__cert-item {
    width: 81px;
    height: 116px; }
  .teacher__pagination {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .teacher__item {
    width: 12px;
    height: 12px;
    background-color: #5b6170;
    border-radius: 50%;
    margin: 0 12px; }
    .teacher__item:hover, .teacher__item-active {
      cursor: pointer;
      background-color: #15afef;
      border: none;
      width: 20px;
      height: 20px;
      margin: 0 8px; }

.feedback {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 40px; }
  .feedback__title {
    width: 100%;
    text-align: center;
    color: #265ce3;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
    padding: 0 0 43px 0; }
  .feedback__carousel {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .feedback__arrow-item {
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .feedback__arrow {
    fill: #000; }
    .feedback__arrow:hover {
      cursor: pointer;
      fill: #606060; }
  .feedback__slider {
    width: 100%;
    padding: 0 18px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .feedback__item {
    display: none;
    width: 155px;
    height: 302px;
    background-image: url(../img/bgrounds/tel-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative; }
    .feedback__item:first-child {
      display: initial; }
    .feedback__item-hover {
      display: none; }
    .feedback__item:hover {
      cursor: pointer; }
      .feedback__item:hover .feedback__item-hover {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 155px;
        height: 302px;
        background-color: rgba(52, 79, 147, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 22px; }

.why {
  width: 100%;
  background-image: url(../img/mobile/why-bg_mobile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -550px; }
  .why__color-bg {
    padding-top: 40px;
    background-color: rgba(21, 175, 239, 0.9);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .why__title {
    width: 100%;
    color: #fff;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 300;
    line-height: 3.5rem;
    padding-bottom: 35px;
    text-align: center; }
  .why__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px; }
  .why__item {
    width: 90%;
    display: flex; }
  .why__text {
    width: 785px;
    color: #fff;
    font-family: "Circe";
    font-size: 1.7rem;
    font-weight: 300;
    padding: 0 0 31px 23px; }
  .why__icons {
    fill: #fff; }
  .why__button {
    text-align: center;
    padding-bottom: 40px; }
  .why__btn {
    width: 169px;
    height: 57px;
    border-radius: 28px;
    background-color: #ebaf04;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 1.03px;
    border: none;
    outline: none; }
    .why__btn:hover {
      cursor: pointer;
      background-color: #5b6170;
      color: #fff; }

.job {
  width: 96%;
  background-color: #fff;
  padding: 40px 0 20px 0;
  margin: 0 auto; }
  .job__title {
    margin: 0 auto;
    width: 300px;
    color: #15afef;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 39px;
    text-align: center;
    line-height: 3.6rem; }
  .job__subtitle {
    margin: 0 auto;
    width: 96%;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.7rem;
    line-height: 1.7rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px; }
  .job__items {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .job__item {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .job__icons {
    fill: #ebaf04; }
  .job__text {
    width: 250px;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center; }
  .job__subtext {
    width: 271px;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    padding-bottom: 40px;
    text-align: center; }
  .job__test {
    width: 98%;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    padding-bottom: 25px;
    text-align: center;
    padding-bottom: 30px; }
  .job__offer {
    width: 98%;
    margin: 0 auto;
    color: #15afef;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    padding-bottom: 25px;
    text-align: center;
    padding-bottom: 30px; }
  .job__footer-items {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .job__left-item {
    width: 96%;
    border-radius: 5px;
    background-color: #15afef;
    padding: 20px;
    color: #fff;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 10px; }
  .job__right-item {
    width: 96%;
    border-radius: 5px;
    background-color: #5b6170;
    padding: 15px; }
  .job__item-text {
    padding: 10px;
    color: #fff;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center; }

.form {
  width: 100%;
  background-image: url(../img/mobile/form-bg-mobile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .form__color-bg {
    width: 100%;
    padding-top: 50px;
    background-color: rgba(38, 92, 227, 0.84); }
  .form__style {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-bottom: 40px; }
  .form__title {
    width: 297px;
    color: #fff;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.5rem;
    text-align: center;
    padding-bottom: 40px; }
  .form__inputs {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .form__input {
    width: 302px;
    height: 44px;
    border-radius: 22px;
    background-color: #fff;
    padding: 16px 0 13px 21px;
    color: #23262d;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 10px; }
  .form__btn {
    width: 145px;
    height: 44px;
    border-radius: 22px;
    background-color: #ebaf04;
    border: none;
    outline: none;
    color: #23262d;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;
    text-transform: uppercase; }
    .form__btn:hover {
      cursor: pointer;
      background-color: #5b6170;
      color: #fff; }
  .form__arrow-top {
    position: absolute;
    bottom: -70px;
    left: 47%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #15afef;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center; }
    .form__arrow-top:hover {
      cursor: pointer; }
      .form__arrow-top:hover .form__icons {
        fill: #000; }
  .form__icons {
    fill: #fff; }

.footer__style {
  padding: 105px 0 65px 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
.footer__copy {
  color: #265ce3;
  font-family: "Circe";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 17px; }
.footer__btn {
  width: 184px;
  height: 44px;
  border-radius: 22px;
  background-color: #5b6170;
  border: none;
  outline: none;
  color: #fff;
  font-family: "Circe";
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 3rem;
  text-transform: uppercase; }
  .footer__btn:hover {
    cursor: pointer;
    background-color: #ebaf04;
    color: #5b6170; }
.footer__tel {
  display: block;
  color: #5b6170;
  font-family: "Circe";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration: none;
  padding-top: 27px;
  padding-bottom: 35px; }
  .footer__tel:hover {
    cursor: pointer;
    color: #000;
    text-decoration: none; }
.footer__mail {
  display: block;
  color: #5b6170;
  font-family: "Circe";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration: underline;
  padding-bottom: 27px; }
  .footer__mail:hover {
    cursor: pointer;
    color: #000;
    text-decoration: none; }
.footer__studio {
  display: flex;
  align-items: flex-end; }
.footer__design {
  color: #5b6170;
  font-family: "Circe";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem; }

@media screen and (min-width: 480px) and (max-width: 639px) {
  .teacher__certs {
    width: 55%; }

  .feedback__slider {
    justify-content: space-between; }
  .feedback__item:first-child, .feedback__item:nth-child(2) {
    display: initial; } }
@media screen and (min-width: 640px) and (max-width: 799px) {
  .teacher__certs {
    width: 85%; }

  .feedback__slider {
    justify-content: space-between; }
  .feedback__item:first-child, .feedback__item:nth-child(2), .feedback__item:nth-child(3) {
    display: initial; } }
@media only screen and (min-width: 1010px) {
  .container {
    width: 1005px;
    margin: 0 auto; }

  .header__style {
    flex-direction: row; }
  .header__logo-burger {
    width: 197px;
    flex-direction: row; }
  .header__menu {
    width: 445px; }
  .header__logo {
    padding: 0; }
  .header__burger {
    display: none; }
  .header__menu {
    display: inherit; }
  .header__button {
    padding: 0 20px; }
  .header__btn {
    width: 171px;
    height: 44px; }
  .header__btn-tel {
    width: 355px;
    display: flex;
    align-items: center; }

  .cover {
    width: 100%;
    height: 600px;
    background-color: #fff;
    border-radius: 0 0 100px 100px / 0 0 0 0;
    background-image: url(../img/bgrounds/cover_bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover; }
    .cover__mobile-bg {
      display: none; }
    .cover__style {
      padding-top: 151px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
    .cover__title {
      padding: 0 0 27px 0;
      text-align: left; }
    .cover__text {
      padding-bottom: 50px;
      text-align: left; }
    .cover__text-free {
      padding: 29px 0 0 31px;
      text-align: left; }

  .promotext__style {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 75px;
    padding-bottom: 33px; }
  .promotext__alltext {
    padding-top: 94px; }
  .promotext__alltitle {
    padding-top: 85px;
    margin-bottom: -165px; }
  .promotext__title {
    width: 541px;
    line-height: 2rem;
    text-align: left; }
  .promotext__subtitle {
    padding-bottom: 37px;
    text-align: left; }
  .promotext__text {
    width: 491px;
    text-align: left; }

  .about {
    padding: 50px 0 70px 0;
    margin: 0 auto; }
    .about__subtitle {
      width: 100%;
      padding: 24px 0 64px 0; }
    .about__fline-items {
      padding-bottom: 53px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .about__icons {
      fill: #15afef; }
    .about__item-text {
      padding-left: 23px;
      padding-bottom: 0px; }
    .about__sline-items {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }

  .width-204 {
    width: 204px; }

  .width-240 {
    width: 240px; }

  .width-260 {
    width: 260px; }

  .width-280 {
    width: 280px; }

  .width-355 {
    width: 355px; }

  .width-415 {
    width: 415px; }

  .width-500 {
    width: 500px; }

  .width-530 {
    width: 530px;
    padding-right: 60px; }

  .forwhom {
    padding-top: 57px;
    padding-bottom: 53px; }
    .forwhom__subtitle {
      padding-bottom: 68px; }
    .forwhom__fline-items {
      width: 100%;
      padding-bottom: 50px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
    .forwhom__fline-item {
      /*?*/ }
    .forwhom__icon-item {
      text-align: left; }
    .forwhom__text {
      padding-top: 30px;
      color: #5b6170;
      font-family: "Circe";
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2rem;
      text-align: left; }
    .forwhom__sline-items {
      display: flex;
      padding-bottom: 47px; }
    .forwhom__sline-item {
      width: 100%;
      display: flex;
      align-items: flex-start; }
    .forwhom__footer-text {
      padding-bottom: 47px; }
    .forwhom__footer-subtitle {
      width: 875px; }
    .forwhom__btn {
      font-size: 1.5rem; }

  .program {
    padding: 63px 0 60px 0; }
    .program__style {
      align-items: flex-start; }
    .program__title {
      text-align: left; }
    .program__subtitle {
      width: 530px;
      text-align: left; }
    .program__items {
      counter-reset: myCounter; }
    .program__day {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
    .program__day-text {
      line-height: 2.9rem;
      padding-bottom: 0px; }
    .program__day-items {
      padding-left: 30px;
      counter-reset: myCounter; }
    .program__day-item {
      padding-left: 40px; }
    .program__webinar {
      padding: 20px 0 40px 21px; }
    .program__webinar-text {
      width: 500px; }
    .program__line {
      width: 997px; }

  .teacher {
    padding: 50px 0 58px 0; }
    .teacher__container {
      width: 1005px;
      margin: 0 auto; }
    .teacher__title {
      padding: 0 0 41px 67px;
      text-align: left; }
    .teacher__carousel {
      display: flex; }
    .teacher__carousel-left {
      width: 550px;
      display: flex;
      align-items: flex-start; }
    .teacher__l-text {
      width: 360px;
      height: 400px;
      border-radius: 30px 0 0 30px;
      padding: 63px 0 57px 68px;
      align-items: flex-start; }
    .teacher__name {
      width: 129px; }
    .teacher__position {
      width: 199px;
      text-align: left; }
    .teacher__education {
      width: 233px;
      text-align: left; }
    .teacher__foto {
      background-image: url(../img/litenko_v_1.jpg);
      width: 190px;
      height: 400px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0 30px 30px 0;
      position: relative;
      transition: background-image 1s ease; }
    .teacher__carousel-right {
      display: flex;
      align-items: flex-start;
      padding: 36px 0 0 40px; }
    .teacher__experience {
      width: 408px;
      text-align: left; }
    .teacher__certs {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between; }
    .teacher__cert {
      margin: 0 10px;
      padding-bottom: 0px; }
    .teacher__foto-pagination {
      display: flex;
      flex-direction: column; }
    .teacher__pagination {
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .teacher__soc-fb {
      position: absolute;
      width: 53px;
      height: 53px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      top: 330px;
      left: -25px;
      background-color: #15afef; }

  .feedback {
    padding-bottom: 80px; }
    .feedback__title {
      text-align: left;
      padding: 0 0 43px 66px; }
    .feedback__slider {
      width: 100%;
      padding: 0 18px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .feedback__item {
      width: 155px;
      height: 302px;
      background-image: url(../img/bgrounds/tel-bg.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative; }
      .feedback__item:nth-child(even), .feedback__item:nth-child(odd) {
        display: initial; }

  .why {
    background-image: url(../img/bgrounds/why-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    .why__color-bg {
      padding-top: 122px;
      background-color: rgba(21, 175, 239, 0.9);
      width: 100%;
      height: 100%;
      align-items: flex-start; }
    .why__title {
      width: 498px;
      padding-bottom: 45px;
      text-align: left; }
    .why__items {
      align-items: flex-start;
      padding-bottom: 58px; }
    .why__item {
      display: flex; }
    .why__button {
      padding-bottom: 90px;
      text-align: left; }

  .job {
    width: 100%;
    padding: 68px 0 41px 0;
    margin: 0 auto; }
    .job__subtitle {
      width: 475px; }
    .job__items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start; }
    .job__item {
      align-items: flex-start; }
    .job__text {
      text-align: left; }
    .job__subtext {
      text-align: left; }
    .job__test {
      width: 100%; }
    .job__offer {
      width: 494px; }
    .job__footer-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start; }
    .job__left-item {
      width: 386px;
      height: 113px;
      border-radius: 5px;
      padding: 29px 0 28px 25px;
      text-align: left;
      margin-bottom: 0px; }
    .job__right-item {
      width: 600px;
      height: 180px;
      padding: 29px 10px 27px 31x; }
    .job__item-text {
      width: 560px;
      padding: 25px 0 0 31px;
      text-align: left; }

  .form {
    width: 100%;
    background-image: url(../img/bgrounds/form-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    .form__color-bg {
      width: 100%;
      height: 373px;
      padding-top: 72px;
      background-color: rgba(38, 92, 227, 0.84); }
    .form__style {
      padding-bottom: 0px; }
    .form__title {
      padding-bottom: 61px; }
    .form__inputs {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 35px; }
    .form__input {
      padding: 16px 0 13px 21px;
      text-align: left;
      border: none;
      outline: none;
      margin-bottom: 0px; }

  .footer__style {
    padding: 80px 0 65px 0;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .footer__copy {
    padding-right: 24px;
    padding-bottom: 0px; }
  .footer__tel {
    padding: 0 15px 0 55px; }
  .footer__mail {
    padding-bottom: 0px; }
  .footer__studio {
    display: flex;
    align-items: flex-end; }
  .footer__design {
    line-height: 2rem;
    padding-left: 55px;
    padding-right: 5px; }

  .all-certs__img {
    width: auto;
    height: 96vh; } }
@media only screen and (min-width: 480px) and (max-width: 1009px) and (orientation: landscape) {
  .cover__mobile-bg {
    height: 600px; }

  .teacher__foto {
    height: 700px; } }
