@font-face {
  font-family: 'Circe';
  src: url("../font/Circe/circe-light.eot");
  src: local("circe-light"), local("circe-light"), url("../font/Circe/circe-light.eot?#iefix") format("embedded-opentype"), url("../font/Circe/circe-light.woff2") format("woff2"), url("../font/Circe/circe-light.woff") format("woff"), url("../font/Circe/circe-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Circe';
  src: url("../font/Circe/circe-regular.eot");
  src: local("Circe"), local("Circe-Regular"), url("../font/Circe/circe-regular.eot?#iefix") format("embedded-opentype"), url("../font/Circe/circe-regular.woff2") format("woff2"), url("../font/Circe/circe-regular.woff") format("woff"), url("../font/Circe/circe-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Circe';
  src: url("../font/Circe/circe-bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("../font/Circe/circe-bold.eot?#iefix") format("embedded-opentype"), url("../font/Circe/circe-bold.woff2") format("woff2"), url("../font/Circe/circe-bold.woff") format("woff"), url("../font/Circe/circe-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Brandon Text';
  src: url("../font/Brandon_Text/brandontext-regular.eot");
  src: local("../font/Brandon_Text/Brandon Text Regular"), local("brandontext-regular"), url("../font/Brandon_Text/brandontext-regular.eot?#iefix") format("embedded-opentype"), url("../font/Brandon_Text/brandontext-regular.woff2") format("woff2"), url("../font/Brandon_Text/brandontext-regular.woff") format("woff"), url("../font/Brandon_Text/brandontext-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
*,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.main__style {
  background-color: #fff; }

.container {
  width: 1005px;
  margin: 0 auto; }

.header {
  width: 100%;
  margin: 0 auto; }
  .header__style {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 17px;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .header__logo {
    padding: 0 60px 0 0; }
  .header__item {
    padding: 0 4px;
    font-family: "Circe";
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #265ce3; }
    .header__item:hover {
      color: #000; }
  .header__button {
    padding: 0 20px; }
  .header__btn {
    width: 171px;
    height: 44px;
    background-color: #5b6170;
    color: #fff;
    font-family: "Circe";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3rem;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 22px; }
    .header__btn:hover {
      cursor: pointer;
      background-color: #f5aa16;
      color: #000; }
  .header__tel {
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 3rem;
    text-transform: uppercase;
    text-decoration: none; }
    .header__tel:hover {
      cursor: pointer;
      color: #000; }

.cover {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  border-radius: 0 0 100px 100px / 0 0 0 0;
  background-image: url(../img/bgrounds/cover_bg.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  .cover__style {
    padding-top: 151px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .cover__title {
    width: 280px;
    padding: 0 0 27px 0;
    color: #265ce3;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.86px; }
  .cover__text {
    padding-bottom: 50px;
    width: 185px;
    color: #30333b;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.38px; }
  .cover__subtext {
    display: block;
    color: #606060;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.38px;
    line-height: normal; }
  .cover__buttons {
    display: flex;
    align-items: center; }
  .cover__btn {
    width: 169px;
    height: 57px;
    border-radius: 28px;
    background-color: #f5aa16;
    color: #1e2024;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 1.03px;
    border: none;
    outline: none; }
    .cover__btn:hover {
      cursor: pointer;
      background-color: #5b6170;
      color: #fff; }
  .cover__msgers {
    padding: 0 0 0 28px; }
  .cover__msg-item {
    text-decoration: none;
    padding: 0 7px; }
  .cover__text-free {
    padding: 29px 0 0 31px;
    width: 200px;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.38px; }

.promotext__style {
  width: 100%;
  display: flex;
  padding-top: 75px;
  padding-bottom: 33px; }
.promotext__alltext {
  padding-top: 11px; }
.promotext__title {
  width: 541px;
  color: #265ce3;
  font-family: "Circe";
  font-size: 3rem;
  font-weight: 400;
  line-height: 2rem; }
.promotext__subtitle {
  color: #265ce3;
  font-family: "Circe";
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 37px; }
.promotext__text {
  width: 491px;
  color: #5b6170;
  font-family: "Circe";
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 24px; }

.about {
  width: 100%;
  background-color: #ededed;
  padding: 50px 0 70px 0;
  margin: 0 auto; }
  .about__style {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .about__title {
    width: 100%;
    color: #15afef;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
    text-align: center; }
  .about__subtitle {
    width: 100%;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 700;
    padding: 24px 0 64px 0;
    text-align: center; }
  .about__fline-items {
    padding-bottom: 53px;
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .about__fline-item {
    display: flex;
    align-items: flex-start; }
  .about__icons {
    fill: #15afef; }
  .about__item-text {
    padding-left: 23px;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left; }
  .about__sline-items {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .about__sline-item {
    display: flex;
    align-items: flex-start; }

.width-204 {
  width: 204px; }

.width-240 {
  width: 240px; }

.width-260 {
  width: 260px; }

.width-280 {
  width: 280px; }

.width-355 {
  width: 355px; }

.width-415 {
  width: 415px; }

.width-500 {
  width: 500px; }

.width-530 {
  width: 530px; }

.forwhom {
  padding-top: 57px;
  padding-bottom: 53px; }
  .forwhom__title {
    width: 100%;
    color: #5b6170;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
    line-height: 3rem; }
  .forwhom__subtitle {
    width: 100%;
    text-align: center;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.7rem;
    line-height: 1.7rem;
    font-weight: 700;
    padding-bottom: 68px; }
  .forwhom__fline-items {
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .forwhom__icons {
    fill: #ebaf04; }
  .forwhom__text {
    padding-top: 30px;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left; }
  .forwhom__sline-items {
    display: flex;
    padding-bottom: 47px; }
  .forwhom__sline-item {
    width: 100%; }
  .forwhom__footer-text {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 47px; }
  .forwhom__footer-title {
    font-family: "Circe";
    font-size: 1.7rem;
    font-weight: 700;
    color: #ebaf04;
    text-transform: uppercase;
    line-height: 1.7rem;
    padding-bottom: 30px; }
  .forwhom__footer-subtitle {
    font-family: "Circe";
    color: #5b6170;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.7rem;
    width: 875px; }
  .forwhom__button {
    width: 100;
    display: flex;
    justify-content: center; }
  .forwhom__btn {
    width: 352px;
    height: 44px;
    border-radius: 22px;
    background-color: #ebaf04;
    border: none;
    outline: none;
    color: #1e2024;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;
    text-transform: uppercase; }
    .forwhom__btn:hover {
      cursor: pointer;
      color: #fff;
      background-color: #5b6170; }

.program {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(21, 174, 239, 0.1);
  padding: 63px 0 60px 0; }
  .program__title {
    color: #15afef;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 400;
    line-height: 2rem;
    padding-bottom: 47px; }
  .program__subtitle {
    width: 530px;
    color: #15afef;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 35px; }
  .program__items {
    counter-reset: myCounter; }
  .program__item {
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 400;
    list-style: none;
    position: relative;
    padding-left: 15px; }
    .program__item::before {
      counter-increment: myCounter;
      content: counter(myCounter) ".";
      display: inline-block;
      position: absolute;
      left: 0px;
      width: 5px;
      color: #15afef; }
  .program__icons {
    line-height: 20px;
    fill: #fff;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center; }
  .program__day-numb {
    width: 152px;
    height: 59px;
    border-radius: 10px;
    background-color: #15afef;
    padding: 10px 0 10px 15px;
    margin: 50px 0 30px 0;
    display: flex;
    align-items: center;
    color: #fff; }
  .program__day-text {
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    line-height: 2.9rem; }
  .program__day-count {
    padding-left: 20px;
    color: #fff;
    font-family: "Circe";
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem; }
  .program__day-items {
    padding-left: 30px;
    counter-reset: myCounter; }
  .program__day-item {
    font-weight: 400;
    list-style: none;
    position: relative;
    padding-left: 40px; }
    .program__day-item::before {
      counter-increment: myCounter;
      content: counter(myCounter) ".";
      display: inline-block;
      position: absolute;
      left: 0px;
      width: 5px;
      color: #5b6170; }
  .program__webinar {
    padding: 20px 0 40px 21px;
    display: flex;
    align-items: center; }
  .program__webinar-text {
    width: 500px;
    font-weight: 700;
    padding-left: 18px;
    line-height: 1.6rem; }
  .program__line {
    width: 997px;
    height: 1px;
    background-color: #15afef;
    margin: 0 0 0 0;
    padding: 0 0 0 0; }

.teacher {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px 0 58px 0; }
  .teacher__title {
    color: #5b6170;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 400;
    line-height: 2rem;
    padding: 0 0 41px 67px; }
  .teacher__carousel {
    display: flex;
    padding-bottom: 27px; }
  .teacher__carousel-left {
    width: 550px;
    display: flex; }
  .teacher__l-text {
    width: 360px;
    height: 400px;
    background-color: #5b6170;
    border-radius: 30px 0 0 30px;
    padding: 63px 0 57px 68px; }
  .teacher__name {
    width: 129px;
    color: #fff;
    font-family: "Circe";
    font-size: 2.6rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 3.4rem;
    padding-bottom: 35px; }
  .teacher__position {
    width: 199px;
    color: #fff;
    font-family: "Circe";
    font-size: 1.7rem;
    font-weight: 300;
    padding-bottom: 45px;
    line-height: 2.1rem; }
  .teacher__education {
    width: 233px;
    color: #fff;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem; }
  .teacher__foto {
    background-image: url(../img/litenko_v.jpg);
    width: 190px;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 30px 30px 0;
    position: relative; }
  .teacher__soc-fb {
    position: absolute;
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 27px;
    left: -27px;
    background-color: #15afef; }
    .teacher__soc-fb:hover {
      cursor: pointer;
      background-color: #fff; }
  .teacher__carousel-right {
    padding: 36px 0 0 40px; }
  .teacher__experience {
    width: 408px;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    padding-bottom: 20px; }
  .teacher__certs {
    display: flex;
    justify-content: space-between; }
  .teacher__cert {
    position: relative; }
    .teacher__cert-hover {
      display: none; }
    .teacher__cert:hover {
      cursor: pointer; }
      .teacher__cert:hover .teacher__cert-hover {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 81px;
        height: 116px;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center; }
  .teacher__pagination {
    width: 510px;
    height: 19px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .teacher__item {
    width: 12px;
    height: 12px;
    background-color: #5b6170;
    border-radius: 50%;
    margin: 0 12px; }
    .teacher__item:hover, .teacher__item-active {
      cursor: pointer;
      background-color: #15afef;
      border: none;
      width: 20px;
      height: 20px;
      margin: 0 8px; }

.feedback {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 80px; }
  .feedback__title {
    color: #265ce3;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 400;
    line-height: 2rem;
    padding: 0 0 43px 66px; }
  .feedback__carousel {
    display: flex;
    justify-content: space-between; }
  .feedback__arrow-item {
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .feedback__arrow {
    fill: #000; }
    .feedback__arrow:hover {
      cursor: pointer;
      fill: #606060; }
  .feedback__slider {
    width: 100%;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .feedback__item {
    width: 155px;
    height: 302px;
    background-image: url(../img/bgrounds/tel-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative; }
    .feedback__item-hover {
      display: none; }
    .feedback__item:hover {
      cursor: pointer; }
      .feedback__item:hover .feedback__item-hover {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 155px;
        height: 302px;
        background-color: rgba(52, 79, 147, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 22px; }

.why {
  width: 100%;
  background-image: url(../img/bgrounds/why-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .why__color-bg {
    padding-top: 122px;
    background-color: rgba(21, 175, 239, 0.9);
    width: 100%;
    height: 100%; }
  .why__title {
    width: 498px;
    color: #fff;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 300;
    line-height: 3.5rem;
    padding-bottom: 45px; }
  .why__items {
    padding-bottom: 58px; }
  .why__item {
    display: flex; }
  .why__text {
    width: 785px;
    color: #fff;
    font-family: "Circe";
    font-size: 1.7rem;
    font-weight: 300;
    padding: 0 0 31px 23px; }
  .why__icons {
    fill: #fff; }
  .why__button {
    padding-bottom: 90px; }
  .why__btn {
    width: 169px;
    height: 57px;
    border-radius: 28px;
    background-color: #ebaf04;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 1.03px;
    border: none;
    outline: none; }
    .why__btn:hover {
      cursor: pointer;
      background-color: #5b6170;
      color: #fff; }

.job {
  width: 100%;
  background-color: #fff;
  padding: 68px 0 41px 0;
  margin: 0 auto; }
  .job__title {
    margin: 0 auto;
    width: 300px;
    color: #15afef;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 39px;
    text-align: center;
    line-height: 3.6rem; }
  .job__subtitle {
    margin: 0 auto;
    width: 475px;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.7rem;
    line-height: 1.7rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px; }
  .job__items {
    display: flex;
    justify-content: space-between; }
  .job__icons {
    fill: #ebaf04; }
  .job__text {
    width: 250px;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    padding-top: 35px;
    padding-bottom: 25px; }
  .job__subtext {
    width: 271px;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    padding-bottom: 65px; }
  .job__test {
    width: 100%;
    color: #5b6170;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    padding-bottom: 25px;
    text-align: center;
    padding-bottom: 30px; }
  .job__offer {
    width: 494px;
    margin: 0 auto;
    color: #15afef;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    padding-bottom: 25px;
    text-align: center;
    padding-bottom: 30px; }
  .job__footer-items {
    display: flex;
    justify-content: flex-start; }
  .job__left-item {
    width: 386px;
    height: 113px;
    border-radius: 5px;
    background-color: #15afef;
    margin-right: 20px;
    padding: 29px 0 28px 25px;
    color: #fff;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left; }
  .job__right-item {
    width: 600px;
    height: 180px;
    border-radius: 5px;
    background-color: #5b6170;
    padding: 29px 10px 27px 31x; }
  .job__item-text {
    width: 560px;
    padding: 25px 0 0 31px;
    color: #fff;
    font-family: "Circe";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left; }

.form {
  width: 100%;
  background-image: url(../img/bgrounds/form-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .form__color-bg {
    width: 100%;
    height: 373px;
    padding-top: 72px;
    background-color: rgba(38, 92, 227, 0.84); }
  .form__style {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1; }
  .form__title {
    width: 297px;
    color: #fff;
    font-family: "Circe";
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.5rem;
    text-align: center;
    padding-bottom: 61px; }
  .form__inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px; }
  .form__input {
    width: 302px;
    height: 44px;
    border-radius: 22px;
    background-color: #fff;
    padding: 16px 0 13px 21px;
    color: #23262d;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    border: none;
    outline: none; }
  .form__btn {
    width: 145px;
    height: 44px;
    border-radius: 22px;
    background-color: #ebaf04;
    border: none;
    outline: none;
    color: #23262d;
    font-family: "Circe";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;
    text-transform: uppercase; }
    .form__btn:hover {
      cursor: pointer;
      background-color: #5b6170;
      color: #fff; }
  .form__arrow-top {
    position: absolute;
    bottom: -70px;
    left: 47%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #15afef;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center; }
    .form__arrow-top:hover {
      cursor: pointer; }
      .form__arrow-top:hover .form__icons {
        fill: #000; }
  .form__icons {
    fill: #fff; }

.footer__style {
  padding: 80px 0 65px 0;
  display: flex;
  align-items: center; }
.footer__copy {
  color: #265ce3;
  font-family: "Circe";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 5rem;
  text-transform: uppercase;
  padding-right: 24px; }
.footer__btn {
  width: 184px;
  height: 44px;
  border-radius: 22px;
  background-color: #5b6170;
  border: none;
  outline: none;
  color: #fff;
  font-family: "Circe";
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 3rem;
  text-transform: uppercase; }
  .footer__btn:hover {
    cursor: pointer;
    background-color: #ebaf04;
    color: #5b6170; }
.footer__tel {
  display: block;
  padding-left: 55px;
  padding-right: 15px;
  color: #5b6170;
  font-family: "Circe";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 5rem;
  text-decoration: none; }
  .footer__tel:hover {
    cursor: pointer;
    color: #000;
    text-decoration: none; }
.footer__mail {
  display: block;
  color: #5b6170;
  font-family: "Circe";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 5rem;
  text-decoration: underline; }
  .footer__mail:hover {
    cursor: pointer;
    color: #000;
    text-decoration: none; }
.footer__design {
  color: #5b6170;
  font-family: "Circe";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 5rem;
  padding-left: 55px;
  padding-right: 5px; }
