$color_white: #fff;
$color_black: #000;
$color_blue: #265ce3;
$color_orange: #f5aa16;
$color_grey: #5b6170;
$color_gold: #ebaf04;
$color_bg-grey: #e7e7e7;
$color_bg-about: #ededed;
$color_text-dark: #30333b;
$color_text-light: #606060;
$color_text-btn: #1e2024;
$color_text-blue: #15afef;
$color_text-input: #23262d;
$font__main: "Circe";
$font__second: "Brandon Text";