@import "_param";
@font-face {
    font-family: 'Circe';
    src: url('../font/Circe/circe-light.eot');
    src: local('circe-light'), local('circe-light'), url('../font/Circe/circe-light.eot?#iefix') format('embedded-opentype'), url('../font/Circe/circe-light.woff2') format('woff2'), url('../font/Circe/circe-light.woff') format('woff'), url('../font/Circe/circe-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../font/Circe/circe-regular.eot');
    src: local('Circe'), local('Circe-Regular'), url('../font/Circe/circe-regular.eot?#iefix') format('embedded-opentype'), url('../font/Circe/circe-regular.woff2') format('woff2'), url('../font/Circe/circe-regular.woff') format('woff'), url('../font/Circe/circe-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../font/Circe/circe-bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'), url('../font/Circe/circe-bold.eot?#iefix') format('embedded-opentype'), url('../font/Circe/circe-bold.woff2') format('woff2'), url('../font/Circe/circe-bold.woff') format('woff'), url('../font/Circe/circe-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('../font/Brandon_Text/brandontext-regular.eot');
    src: local('../font/Brandon_Text/Brandon Text Regular'), local('brandontext-regular'), url('../font/Brandon_Text/brandontext-regular.eot?#iefix') format('embedded-opentype'), url('../font/Brandon_Text/brandontext-regular.woff2') format('woff2'), url('../font/Brandon_Text/brandontext-regular.woff') format('woff'), url('../font/Brandon_Text/brandontext-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.main__style {
    background-color: $color_white;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 19;
}

.container {
    width: 96%;
    margin: 0 auto;
}

.show {
    width: 100vw;
    height: 100vh;
    background-color: $color_grey;
    position: fixed;
    z-index: 19;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.all-certs {
    &__modal {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100vw;
        height: 100vh;
    }
    &__btn {
        width: 7vw;
        height: 100vh;
        background-color: transparent;
        font-size: 5vw;
        font-weight: 300;
        text-align: center;
        color: $color_text-dark;
        border: none;
        outline: none;
        &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
    &__gallery {
        width: 80vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        // max-width: 500px;
        width: 80vw;
        height: auto;
    }
    &__close {
        width: 6vw;
        // height: 100vh;
        padding-top: 3vh;
        display: flex;
        justify-content: center;
    }
    &__cross {
        color: $color_white;
        font-family: $font__main;
        font-size: 10vw;
        text-decoration: none;
        &:hover {
            cursor: pointer;
            color: rgba(234, 238, 240, 0.3);
        }
    }
}

.bg-transparent {
    background-color: rgba(26, 26, 26, 0.7);
}

.header {
    width: 100%;
    margin: 0 auto;
    &__style {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo {
        padding: 0 117px 12px 7px;
    }
    &__burger {
        font-family: $font__main;
        font-size: 3rem;
        color: $color_black;
        position: relative;
        z-index: 20;
        &:hover {
            cursor: pointer;
            color: $color_text-light;
        }
    }
    &__burger-color {
        position: fixed;
        color: $color_white;
        &:hover {
            color: $color_black;
        }
    }
    &__logo-burger {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    &__menu {
        display: none;
    }
    &__item {
        padding: 0 4px;
        font-family: $font__main;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 3rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $color_blue;
        &:hover {
            color: $color_black;
        }
    }
    &__button {
        padding: 0 14px 0 6px;
    }
    &__btn {
        width: 144px;
        height: 44px;
        background-color: $color_grey;
        color: $color_white;
        font-family: $font__main;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 3rem;
        text-transform: uppercase;
        border: none;
        outline: none;
        border-radius: 22px;
        &:hover {
            cursor: pointer;
            background-color: $color_orange;
            color: $color_black;
        }
    }
    &__tel {
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 2rem;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            cursor: pointer;
            color: $color_black;
        }
    }
    &__btn-tel {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.burger {
    width: 70%;
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &__link {
        display: block;
        font-family: $font__main;
        font-size: 2.5rem;
        color: $color_white;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 20px;
        &:hover {
            color: $color_text-blue;
        }
    }
}

.cover {
    width: 100%;
    background-color: $color_white;
    &__mobile-bg {
        background-image: url(../img/mobile/cover_bg.jpg);
        width: 100%;
        height: 60vh;
        background-position: center bottom;
        background-repeat: no-repeat;
        // background-size: cover;
        background-size: 100% auto;
    }
    &__style {
        padding-top: 39px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        width: 280px;
        padding: 0 0 17px 0;
        color: $color_blue;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 0.86px;
        text-align: center;
    }
    &__text {
        padding-bottom: 23px;
        width: 185px;
        color: $color_text-dark;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.38px;
        text-align: center;
    }
    &__subtext {
        display: block;
        color: $color_text-light;
        font-size: 1.5rem;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 0.38px;
        line-height: normal;
    }
    &__buttons {
        display: flex;
        align-items: center;
    }
    &__btn {
        width: 169px;
        height: 57px;
        border-radius: 28px;
        background-color: $color_orange;
        color: $color_text-btn;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 3.5rem;
        text-transform: uppercase;
        letter-spacing: 1.03px;
        border: none;
        outline: none;
        &:hover {
            cursor: pointer;
            background-color: $color_grey;
            color: $color_white;
        }
    }
    &__msgers {
        padding: 0 0 0 28px;
    }
    &__msg-item {
        text-decoration: none;
        padding: 0 7px;
    }
    &__text-free {
        padding-top: 17px;
        width: 200px;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.38px;
        text-align: center;
    }
}

.promotext {
    &__style {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 6px;
    }
    &__alltext {
        padding-top: 30px;
    }
    &__alltitle {
        padding-top: 30px;
    }
    &__title {
        color: $color_blue;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 400;
        line-height: 3rem;
        text-align: center;
    }
    &__subtitle {
        color: $color_blue;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 400;
        padding-bottom: 30px;
        text-align: center;
    }
    &__text {
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 400;
        padding-bottom: 24px;
        text-align: center;
    }
    &__img {
        width: 98%;
    }
}

.about {
    width: 100%;
    background-color: $color_bg-about;
    padding: 30px 0 20px 0;
    margin: 0 auto;
    &__style {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        width: 100%;
        color: $color_text-blue;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 400;
        line-height: 4rem;
        text-align: center;
    }
    &__subtitle {
        width: 98%;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 20px 0 25px 0;
        text-align: center;
    }
    &__fline-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__fline-item {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__icon-item {
        width: 45px;
        display: flex;
        justify-content: flex-end;
    }
    &__icons {
        fill: $color_text-blue;
    }
    &__item-text {
        width: 80%;
        padding-left: 10px;
        padding-bottom: 10px;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: left;
    }
    &__sline-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__sline-item {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}

.forwhom {
    padding-top: 45px;
    padding-bottom: 30px;
    &__title {
        width: 100%;
        color: $color_grey;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
        padding-bottom: 30px;
        line-height: 3rem;
    }
    &__subtitle {
        width: 100%;
        text-align: center;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.7rem;
        line-height: 1.7rem;
        font-weight: 700;
        padding-bottom: 25px;
    }
    &__fline-items {
        width: 100%;
    }
    &__fline-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__icon-item {
        width: 100%;
        text-align: center;
    }
    &__icons {
        fill: $color_gold;
    }
    &__text {
        width: 80%;
        padding-top: 30px;
        padding-bottom: 40px;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
        text-align: center;
    }
    &__sline-items {
        padding-bottom: 25px;
    }
    &__sline-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__footer-text {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 35px;
    }
    &__footer-title {
        font-family: $font__main;
        font-size: 1.7rem;
        font-weight: 700;
        color: $color_gold;
        text-transform: uppercase;
        line-height: 1.7rem;
        padding-bottom: 30px;
    }
    &__footer-subtitle {
        font-family: $font__main;
        color: $color_grey;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 1.7rem;
    }
    &__button {
        width: 100;
        display: flex;
        justify-content: center;
    }
    &__btn {
        width: 352px;
        height: 44px;
        border-radius: 22px;
        background-color: $color_gold;
        border: none;
        outline: none;
        color: $color_text-btn;
        font-family: $font__main;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 3rem;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            color: $color_white;
            background-color: $color_grey;
        }
    }
}

.program {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(21, 174, 239, 0.1);
    padding: 40px 0 0 0;
    &__style {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        color: $color_text-blue;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 400;
        line-height: 2rem;
        padding-bottom: 47px;
        text-align: center;
    }
    &__subtitle {
        width: 90%;
        color: $color_text-blue;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 35px;
        text-align: center;
    }
    &__list {
        width: 90%;
    }
    &__items {
        counter-reset: myCounter;
    }
    &__item {
        font-family: $font__main;
        font-size: 1.6rem;
        line-height: 1.6rem;
        font-weight: 400;
        list-style: none;
        position: relative;
        padding-left: 15px;
        padding-bottom: 15px;
        &::before {
            counter-increment: myCounter;
            content: counter(myCounter) '.';
            display: inline-block;
            position: absolute;
            left: 0px;
            width: 5px;
            color: $color_text-blue;
        }
    }
    &__day {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__icons {
        line-height: 20px;
        fill: $color_white;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__day-numb {
        margin: 0 auto;
        width: 152px;
        height: 59px;
        border-radius: 10px;
        background-color: $color_text-blue;
        padding: 10px 0 10px 15px;
        margin: 30px 0 30px 0;
        display: flex;
        align-items: center;
        color: $color_white;
    }
    &__day-text {
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        line-height: 2rem;
        padding-bottom: 10px;
    }
    &__day-count {
        padding-left: 20px;
        color: $color_white;
        font-family: $font__main;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2rem;
    }
    &__day-items {
        padding-left: 18px;
        width: 95%;
        counter-reset: myCounter;
    }
    &__day-item {
        font-weight: 400;
        list-style: none;
        position: relative;
        padding-left: 20px;
        &::before {
            counter-increment: myCounter;
            content: counter(myCounter) '.';
            display: inline-block;
            position: absolute;
            left: 0px;
            width: 5px;
            color: $color_grey;
        }
    }
    &__webinar {
        padding: 20px 0 28px 21px;
        display: flex;
        align-items: center;
    }
    &__webinar-text {
        width: 85%;
        font-weight: 700;
        padding-left: 18px;
        line-height: 1.6rem;
    }
    &__line {
        width: 100%;
        height: 1px;
        background-color: $color_text-blue;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
}

.teacher {
    width: 100%;
    margin: 0 auto;
    background-color: $color_white;
    padding: 50px 0 40px 0;
    &__container {
        width: 100%;
    }
    &__title {
        color: $color_grey;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 400;
        line-height: 2rem;
        padding-bottom: 41px;
        text-align: center;
    }
    &__carousel {
        padding-bottom: 27px;
    }
    &__carousel-left {
        width: 100%;
    }
    &__l-text {
        width: 100%;
        background-color: $color_grey;
        padding: 60px 0 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__name {
        width: 50%;
        text-align: center;
        color: $color_white;
        font-family: $font__main;
        font-size: 2.6rem;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 3.4rem;
        padding-bottom: 35px;
    }
    &__position {
        width: 65%;
        text-align: center;
        color: $color_white;
        font-family: $font__main;
        font-size: 1.7rem;
        font-weight: 300;
        padding-bottom: 45px;
        line-height: 2.1rem;
    }
    &__education {
        width: 80%;
        text-align: center;
        color: $color_white;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2rem;
    }
    &__foto {
        background-image: url(../img/litenko_v_1.jpg);
        width: 100%;
        height: 80vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        transition: background-image 1s ease;
    }
    &__soc-fb {
        position: absolute;
        width: 53px;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        top: -25px;
        left: calc(50% - 27px);
        background-color: $color_text-blue;
        &:hover {
            cursor: pointer;
            background-color: $color_white;
        }
    }
    &__carousel-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__experience {
        width: 100%;
        text-align: center;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
        padding-bottom: 20px;
    }
    &__certs {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__cert {
        margin: 0 20px;
        padding-bottom: 20px;
        position: relative;
        &-hover {
            display: none;
        }
        &:hover {
            cursor: pointer;
            .teacher__cert-hover {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 81px;
                height: 116px;
                background-color: rgba(0, 0, 0, 0.3);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &__cert-item {
        width: 81px;
        height: 116px;
        // width: 324px;
        // height: 464px;
    }
    &__pagination {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item {
        width: 12px;
        height: 12px;
        background-color: $color_grey;
        border-radius: 50%;
        margin: 0 12px;
        &:hover,
        &-active {
            cursor: pointer;
            background-color: $color_text-blue;
            border: none;
            width: 20px;
            height: 20px;
            margin: 0 8px;
        }
    }
}

.carousel {
    position: relative;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
    // border: 1px solid #CCC;
    // border-radius: 15px;
    // background: #eee;
}

.carousel img {
    width: 155px;
    height: 302px;
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    background: #ccc;
    cursor: pointer;
}

// .prev {
//     left: 7px;
// }
// .next {
//     right: 7px;
// }
.gallery {
    width: 100%;
    overflow: hidden;
}

.gallery ul {
    height: 302px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 1;
}

.gallery li {
    display: inline-block;
    margin: 0 20px;
}

.feedback {
    &__title {
        width: 100%;
        text-align: center;
        color: $color_blue;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 400;
        line-height: 3rem;
        padding: 0 0 43px 0;
    }
    &__carousel {
        width: 100%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    &__arrow-item {
        width: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__arrow {
        fill: $color_black;
        &:hover {
            cursor: pointer;
            fill: $color_text-light;
        }
    }
    &__slider {
        // width: 100%;
        padding: 0 18px;
        display: flex;
        // justify-content: center;
        // align-items: center;
        transition: 0.2s;
    }
    &__item {
        // display: none;
        width: 155px;
        height: 302px;
        background-image: url(../img/bgrounds/tel-bg.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        &:first-child {
            display: initial;
        }
        &-hover {
            display: none;
        }
        &:hover {
            cursor: pointer;
            .feedback__item-hover {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 155px;
                height: 302px;
                background-color: rgba(52, 79, 147, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 22px;
            }
        }
    }
}

// .feedback {
//     width: 100%;
//     margin: 0 auto;
//     background-color: $color_white;
//     padding-bottom: 40px;
//     &__title {
//         width: 100%;
//         text-align: center;
//         color: $color_blue;
//         font-family: $font__main;
//         font-size: 3rem;
//         font-weight: 400;
//         line-height: 3rem;
//         padding: 0 0 43px 0;
//     }
//     &__carousel {
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//         overflow: hidden;
//     }
//     &__arrow-item {
//         width: 31px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
//     &__arrow {
//         fill: $color_black;
//         &:hover {
//             cursor: pointer;
//             fill: $color_text-light;
//         }
//     }
//     &__slider {
//         width: 700px;
//         overflow: hidden;
//         padding: 0 18px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         transition: 0.2s;
//     }
//     &__test {
//         display: flex;
//     }
//     &__item {
//         // display: none;
//         width: 155px;
//         height: 302px;
//         background-image: url(../img/bgrounds/tel-bg.png);
//         background-position: center center;
//         background-repeat: no-repeat;
//         background-size: contain;
//         position: relative;
//         &:first-child {
//             display: initial;
//         }
//         &-hover {
//             display: none;
//         }
//         &:hover {
//             cursor: pointer;
//             .feedback__item-hover {
//                 position: absolute;
//                 top: 0px;
//                 left: 0px;
//                 width: 155px;
//                 height: 302px;
//                 background-color: rgba(52, 79, 147, 0.5);
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 border-radius: 22px;
//             }
//         }
//     }
// &__slider {
//     // width: 100%;
//     padding: 0 18px;
//     display: flex;
//     // justify-content: center;
//     // align-items: center;
//     transition: 0.2s;
// }
// &__item {
//     // display: none;
//     width: 155px;
//     height: 302px;
//     background-image: url(../img/bgrounds/tel-bg.png);
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-size: contain;
//     position: relative;
//     &:first-child {
//         display: initial;
//     }
//     &-hover {
//         display: none;
//     }
//     &:hover {
//         cursor: pointer;
//         .feedback__item-hover {
//             position: absolute;
//             top: 0px;
//             left: 0px;
//             width: 155px;
//             height: 302px;
//             background-color: rgba(52, 79, 147, 0.5);
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             border-radius: 22px;
//         }
//     }
// }
.why {
    width: 100%;
    background-image: url(../img/mobile/why-bg_mobile.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -550px;
    &__color-bg {
        padding-top: 40px;
        background-color: rgba(21, 175, 239, 0.9);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        width: 100%;
        color: $color_white;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 300;
        line-height: 3.5rem;
        padding-bottom: 35px;
        text-align: center;
    }
    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }
    &__item {
        width: 90%;
        display: flex;
    }
    &__text {
        width: 785px;
        color: $color_white;
        font-family: $font__main;
        font-size: 1.7rem;
        font-weight: 300;
        padding: 0 0 31px 23px;
    }
    &__icons {
        fill: $color_white;
    }
    &__button {
        text-align: center;
        padding-bottom: 40px;
    }
    &__btn {
        width: 169px;
        height: 57px;
        border-radius: 28px;
        background-color: $color_gold;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 3.5rem;
        text-transform: uppercase;
        letter-spacing: 1.03px;
        border: none;
        outline: none;
        &:hover {
            cursor: pointer;
            background-color: $color_grey;
            color: $color_white;
        }
    }
}

.job {
    width: 96%;
    background-color: $color_white;
    padding: 40px 0 20px 0;
    margin: 0 auto;
    &__title {
        margin: 0 auto;
        width: 300px;
        color: $color_text-blue;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 400;
        padding-bottom: 39px;
        text-align: center;
        line-height: 3.6rem;
    }
    &__subtitle {
        margin: 0 auto;
        width: 96%;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.7rem;
        line-height: 1.7rem;
        font-weight: 700;
        text-align: center;
        padding-bottom: 50px;
    }
    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__icons {
        fill: $color_gold;
    }
    &__text {
        width: 250px;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2rem;
        text-transform: uppercase;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
    }
    &__subtext {
        width: 271px;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
        padding-bottom: 40px;
        text-align: center;
    }
    &__test {
        width: 98%;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2rem;
        text-transform: uppercase;
        padding-bottom: 25px;
        text-align: center;
        padding-bottom: 30px;
    }
    &__offer {
        width: 98%;
        margin: 0 auto;
        color: $color_text-blue;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2rem;
        text-transform: uppercase;
        padding-bottom: 25px;
        text-align: center;
        padding-bottom: 30px;
    }
    &__footer-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__left-item {
        width: 96%;
        border-radius: 5px;
        background-color: $color_text-blue;
        padding: 20px;
        color: $color_white;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
        text-align: center;
        margin-bottom: 10px;
    }
    &__right-item {
        width: 96%;
        border-radius: 5px;
        background-color: $color_grey;
        padding: 15px;
    }
    &__item-text {
        padding: 10px;
        color: $color_white;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
        text-align: center;
    }
}

.form {
    width: 100%;
    background-image: url(../img/mobile/form-bg-mobile.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &__color-bg {
        width: 100%;
        padding-top: 50px;
        background-color: rgba(38, 92, 227, 0.84);
    }
    &__style {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1;
        padding-bottom: 40px;
    }
    &__title {
        width: 297px;
        color: $color_white;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 400;
        line-height: 3.5rem;
        text-align: center;
        padding-bottom: 40px;
    }
    &__inputs {
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__input {
        width: 302px;
        height: 44px;
        border-radius: 22px;
        background-color: $color_white;
        padding: 16px 0 13px 21px;
        color: $color_text-input;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
        text-align: center;
        border: none;
        outline: none;
        margin-bottom: 10px;
    }
    &__btn {
        width: 145px;
        height: 44px;
        border-radius: 22px;
        background-color: $color_gold;
        border: none;
        outline: none;
        color: $color_text-input;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 3rem;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            background-color: $color_grey;
            color: $color_white;
        }
    }
    &__arrow-top {
        position: absolute;
        bottom: -70px;
        left: 47%;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: $color_text-blue;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
            .form__icons {
                fill: $color_black;
            }
        }
    }
    &__icons {
        fill: $color_white;
    }
}

.footer {
    &__style {
        padding: 105px 0 65px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__copy {
        color: $color_blue;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5rem;
        text-transform: uppercase;
        padding-bottom: 17px;
    }
    &__btn {
        width: 184px;
        height: 44px;
        border-radius: 22px;
        background-color: $color_grey;
        border: none;
        outline: none;
        color: $color_white;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 3rem;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            background-color: $color_gold;
            color: $color_grey;
        }
    }
    &__tel {
        display: block;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5rem;
        text-decoration: none;
        padding-top: 27px;
        padding-bottom: 35px;
        &:hover {
            cursor: pointer;
            color: $color_black;
            text-decoration: none;
        }
    }
    &__mail {
        display: block;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5rem;
        text-decoration: underline;
        padding-bottom: 27px;
        &:hover {
            cursor: pointer;
            color: $color_black;
            text-decoration: none;
        }
    }
    &__studio {
        display: flex;
        align-items: flex-end;
    }
    &__design {
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    .teacher {
        &__certs {
            width: 55%;
        }
    }
    .feedback {
        &__slider {
            justify-content: space-between;
        }
        &__item {
            &:first-child,
            &:nth-child(2),
            {
                display: initial;
            }
        }
    }
}

@media screen and (min-width: 640px) and (max-width: 799px) {
    .teacher {
        &__certs {
            width: 85%;
        }
    }
    .feedback {
        &__slider {
            justify-content: space-between;
        }
        &__item {
            &:first-child,
            &:nth-child(2),
            &:nth-child(3) {
                display: initial;
            }
        }
    }
}

@media only screen and (min-width: 1010px) {
    .container {
        width: 1005px;
        margin: 0 auto;
    }
    .header {
        &__style {
            flex-direction: row;
        }
        &__logo-burger {
            width: 197px;
            flex-direction: row;
        }
        &__menu {
            width: 445px
        }
        &__logo {
            padding: 0;
        }
        &__burger {
            display: none;
        }
        &__menu {
            display: inherit;
        }
        &__button {
            padding: 0 20px;
        }
        &__btn {
            width: 171px;
            height: 44px;
        }
        &__btn-tel {
            width: 355px;
            display: flex;
            align-items: center;
        }
    }
    .cover {
        width: 100%;
        height: 600px;
        background-color: $color_white;
        border-radius: 0 0 100px 100px / 0 0 0 0;
        background-image: url(../img/bgrounds/cover_bg.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        &__mobile-bg {
            display: none;
        }
        &__style {
            padding-top: 151px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        &__title {
            padding: 0 0 27px 0;
            text-align: left;
        }
        &__text {
            padding-bottom: 50px;
            text-align: left;
        }
        &__text-free {
            padding: 29px 0 0 31px;
            text-align: left;
        }
    }
    .promotext {
        &__style {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding-top: 75px;
            padding-bottom: 33px;
        }
        &__alltext {
            padding-top: 94px;
        }
        &__alltitle {
            padding-top: 85px;
            margin-bottom: -165px;
        }
        &__title {
            width: 541px;
            line-height: 2rem;
            text-align: left;
        }
        &__subtitle {
            padding-bottom: 37px;
            text-align: left;
        }
        &__text {
            width: 491px;
            text-align: left;
        }
    }
    .about {
        padding: 50px 0 70px 0;
        margin: 0 auto;
        &__subtitle {
            width: 100%;
            padding: 24px 0 64px 0;
        }
        &__fline-items {
            padding-bottom: 53px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__icons {
            fill: $color_text-blue;
        }
        &__item-text {
            padding-left: 23px;
            padding-bottom: 0px;
        }
        &__sline-items {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .width-204 {
        width: 204px;
    }
    .width-240 {
        width: 240px;
    }
    .width-260 {
        width: 260px;
    }
    .width-280 {
        width: 280px;
    }
    .width-355 {
        width: 355px;
    }
    .width-415 {
        width: 415px;
    }
    .width-500 {
        width: 500px;
    }
    .width-530 {
        width: 530px;
        padding-right: 60px;
    }
    .forwhom {
        padding-top: 57px;
        padding-bottom: 53px;
        &__subtitle {
            padding-bottom: 68px;
        }
        &__fline-items {
            width: 100%;
            padding-bottom: 50px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__fline-item {
            /*?*/
        }
        &__icon-item {
            text-align: left;
        }
        &__text {
            // width:?
            padding-top: 30px;
            color: $color_grey;
            font-family: $font__main;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2rem;
            text-align: left;
        }
        &__sline-items {
            display: flex;
            padding-bottom: 47px;
        }
        &__sline-item {
            width: 100%;
            display: flex;
            align-items: flex-start;
        }
        &__footer-text {
            padding-bottom: 47px;
        }
        &__footer-subtitle {
            width: 875px;
        }
        &__btn {
            font-size: 1.5rem;
        }
    }
    .program {
        padding: 63px 0 60px 0;
        &__style {
            align-items: flex-start;
            //?
        }
        &__title {
            text-align: left;
        }
        &__subtitle {
            width: 530px;
            text-align: left;
        }
        &__list {
            //?
        }
        &__items {
            counter-reset: myCounter;
        }
        &__day {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__day-text {
            line-height: 2.9rem;
            padding-bottom: 0px;
        }
        &__day-items {
            padding-left: 30px;
            // width:?
            counter-reset: myCounter;
        }
        &__day-item {
            padding-left: 40px;
        }
        &__webinar {
            padding: 20px 0 40px 21px;
        }
        &__webinar-text {
            width: 500px;
        }
        &__line {
            width: 997px;
        }
    }
    .teacher {
        padding: 50px 0 58px 0;
        &__container {
            width: 1005px;
            margin: 0 auto;
        }
        &__title {
            padding: 0 0 41px 67px;
            text-align: left;
        }
        &__carousel {
            display: flex;
        }
        &__carousel-left {
            width: 550px;
            display: flex;
            align-items: flex-start;
        }
        &__l-text {
            width: 360px;
            height: 400px;
            border-radius: 30px 0 0 30px;
            padding: 63px 0 57px 68px;
            align-items: flex-start;
        }
        &__name {
            width: 129px;
        }
        &__position {
            width: 199px;
            text-align: left;
        }
        &__education {
            width: 233px;
            text-align: left;
        }
        &__foto {
            background-image: url(../img/litenko_v_1.jpg);
            width: 190px;
            height: 400px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 0 30px 30px 0;
            position: relative;
            transition: background-image 1s ease;
        }
        &__carousel-right {
            display: flex;
            align-items: flex-start;
            padding: 36px 0 0 40px;
        }
        &__experience {
            width: 408px;
            text-align: left;
        }
        &__certs {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        &__cert {
            margin: 0 10px;
            padding-bottom: 0px;
        }
        &__foto-pagination {
            display: flex;
            flex-direction: column;
            // align-items: center;
        }
        &__pagination {
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__soc-fb {
            position: absolute;
            width: 53px;
            height: 53px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            top: 330px;
            left: -25px;
            background-color: #15afef;
        }
    }
    .feedback {
        padding-bottom: 80px;
        &__title {
            text-align: left;
            padding: 0 0 43px 66px;
        }
        &__slider {
            width: 100%;
            padding: 0 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__item {
            width: 155px;
            height: 302px;
            background-image: url(../img/bgrounds/tel-bg.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            &:nth-child(even),
            &:nth-child(odd) {
                display: initial;
            }
        }
    }
    .why {
        background-image: url(../img/bgrounds/why-bg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        &__color-bg {
            padding-top: 122px;
            background-color: rgba(21, 175, 239, 0.9);
            width: 100%;
            height: 100%;
            align-items: flex-start;
        }
        &__title {
            width: 498px;
            padding-bottom: 45px;
            text-align: left;
        }
        &__items {
            align-items: flex-start;
            padding-bottom: 58px;
        }
        &__item {
            display: flex;
        }
        &__button {
            padding-bottom: 90px;
            text-align: left;
        }
    }
    .job {
        width: 100%;
        padding: 68px 0 41px 0;
        margin: 0 auto;
        &__subtitle {
            width: 475px;
        }
        &__items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__item {
            align-items: flex-start;
        }
        &__text {
            text-align: left;
        }
        &__subtext {
            text-align: left;
        }
        &__test {
            width: 100%;
        }
        &__offer {
            width: 494px;
        }
        &__footer-items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__left-item {
            width: 386px;
            height: 113px;
            border-radius: 5px;
            padding: 25px 0 28px 23px;
            text-align: left;
            margin-bottom: 0px;
        }
        &__right-item {
            width: 600px;
            height: 180px;
            padding: 0px;
        }
        &__item-text {
            width: 560px;
            padding: 25px 0 0 31px;
            text-align: left;
        }
    }
    .form {
        width: 100%;
        background-image: url(../img/bgrounds/form-bg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        &__color-bg {
            width: 100%;
            height: 373px;
            padding-top: 72px;
            background-color: rgba(38, 92, 227, 0.84);
        }
        &__style {
            padding-bottom: 0px;
        }
        &__title {
            padding-bottom: 61px;
        }
        &__inputs {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 35px;
        }
        &__input {
            padding: 16px 0 13px 21px;
            text-align: left;
            border: none;
            outline: none;
            margin-bottom: 0px;
        }
    }
    .footer {
        &__style {
            padding: 80px 0 65px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &__copy {
            padding-right: 24px;
            padding-bottom: 0px;
        }
        &__tel {
            padding: 0 15px 0 55px;
        }
        &__mail {
            padding-bottom: 0px;
        }
        &__studio {
            display: flex;
            align-items: flex-end;
        }
        &__design {
            line-height: 2rem;
            padding-left: 55px;
            padding-right: 5px;
        }
    }
    .all-certs {
        &__img {
            // max-width: 500px;
            width: auto;
            height: 96vh;
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 1009px) and (orientation: landscape) {
    .cover {
        &__mobile-bg {
            height: 600px;
        }
    }
    .teacher {
        &__foto {
            height: 700px;
        }
    }
}