@import "_param";
@font-face {
    font-family: 'Circe';
    src: url('../font/Circe/circe-light.eot');
    src: local('circe-light'), local('circe-light'), url('../font/Circe/circe-light.eot?#iefix') format('embedded-opentype'), url('../font/Circe/circe-light.woff2') format('woff2'), url('../font/Circe/circe-light.woff') format('woff'), url('../font/Circe/circe-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../font/Circe/circe-regular.eot');
    src: local('Circe'), local('Circe-Regular'), url('../font/Circe/circe-regular.eot?#iefix') format('embedded-opentype'), url('../font/Circe/circe-regular.woff2') format('woff2'), url('../font/Circe/circe-regular.woff') format('woff'), url('../font/Circe/circe-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../font/Circe/circe-bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'), url('../font/Circe/circe-bold.eot?#iefix') format('embedded-opentype'), url('../font/Circe/circe-bold.woff2') format('woff2'), url('../font/Circe/circe-bold.woff') format('woff'), url('../font/Circe/circe-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('../font/Brandon_Text/brandontext-regular.eot');
    src: local('../font/Brandon_Text/Brandon Text Regular'), local('brandontext-regular'), url('../font/Brandon_Text/brandontext-regular.eot?#iefix') format('embedded-opentype'), url('../font/Brandon_Text/brandontext-regular.woff2') format('woff2'), url('../font/Brandon_Text/brandontext-regular.woff') format('woff'), url('../font/Brandon_Text/brandontext-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.wrapper {
    width: 100%;
    // width: 1275px;
    margin: 0 auto;
}

.main__style {
    background-color: $color_white;
}

.container {
    width: 1005px;
    margin: 0 auto;
}

.header {
    width: 100%;
    margin: 0 auto;
    &__style {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 17px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__logo {
        padding: 0 60px 0 0;
    }
    &__item {
        padding: 0 4px;
        font-family: $font__main;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 3rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $color_blue;
        &:hover {
            color: $color_black;
        }
    }
    &__button {
        padding: 0 20px;
    }
    &__btn {
        width: 171px;
        height: 44px;
        background-color: $color_grey;
        color: $color_white;
        font-family: $font__main;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 3rem;
        text-transform: uppercase;
        border: none;
        outline: none;
        border-radius: 22px;
        &:hover {
            cursor: pointer;
            background-color: $color_orange;
            color: $color_black;
        }
    }
    &__tel {
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 3rem;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            cursor: pointer;
            color: $color_black;
        }
    }
}

.cover {
    width: 100%;
    height: 80vh;
    background-color: $color_white;
    border-radius: 0 0 100px 100px / 0 0 0 0;
    background-image: url(../img/bgrounds/cover_bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    &__style {
        padding-top: 151px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__title {
        width: 280px;
        padding: 0 0 27px 0;
        color: $color_blue;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 0.86px;
    }
    &__text {
        padding-bottom: 50px;
        width: 185px;
        color: $color_text-dark;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.38px;
    }
    &__subtext {
        display: block;
        color: $color_text-light;
        font-size: 1.5rem;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 0.38px;
        line-height: normal;
    }
    &__buttons {
        display: flex;
        align-items: center;
    }
    &__btn {
        width: 169px;
        height: 57px;
        border-radius: 28px;
        background-color: $color_orange;
        color: $color_text-btn;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 3.5rem;
        text-transform: uppercase;
        letter-spacing: 1.03px;
        border: none;
        outline: none;
        &:hover {
            cursor: pointer;
            background-color: $color_grey;
            color: $color_white;
        }
    }
    &__msgers {
        padding: 0 0 0 28px;
    }
    &__msg-item {
        text-decoration: none;
        padding: 0 7px;
    }
    &__text-free {
        padding: 29px 0 0 31px;
        width: 200px;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.38px;
    }
}

.promotext {
    &__style {
        width: 100%;
        display: flex;
        padding-top: 75px;
        padding-bottom: 33px;
    }
    &__alltext {
        padding-top: 11px;
    }
    &__title {
        width: 541px;
        color: $color_blue;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 400;
        line-height: 2rem;
    }
    &__subtitle {
        color: $color_blue;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 400;
        padding-bottom: 37px;
    }
    &__text {
        width: 491px;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 400;
        padding-bottom: 24px;
    }
}

.about {
    width: 100%;
    background-color: $color_bg-about;
    padding: 50px 0 70px 0;
    margin: 0 auto;
    &__style {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        width: 100%;
        color: $color_text-blue;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 400;
        line-height: 4rem;
        text-align: center;
    }
    &__subtitle {
        width: 100%;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 24px 0 64px 0;
        text-align: center;
    }
    &__fline-items {
        padding-bottom: 53px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__fline-item {
        display: flex;
        align-items: flex-start;
    }
    &__icons {
        fill: $color_text-blue;
    }
    &__item-text {
        padding-left: 23px;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: left;
    }
    &__sline-items {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__sline-item {
        display: flex;
        align-items: flex-start;
    }
}

.width-204 {
    width: 204px;
}

.width-240 {
    width: 240px;
}

.width-260 {
    width: 260px;
}

.width-280 {
    width: 280px;
}

.width-355 {
    width: 355px;
}

.width-415 {
    width: 415px;
}

.width-500 {
    width: 500px;
}

.width-530 {
    width: 530px;
}

.forwhom {
    padding-top: 57px;
    padding-bottom: 53px;
    &__style {}
    &__title {
        width: 100%;
        color: $color_grey;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
        padding-bottom: 30px;
        line-height: 3rem;
    }
    &__subtitle {
        width: 100%;
        text-align: center;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.7rem;
        line-height: 1.7rem;
        font-weight: 700;
        padding-bottom: 68px;
    }
    &__fline-items {
        width: 100%;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__icons {
        fill: $color_gold;
    }
    &__text {
        padding-top: 30px;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
        text-align: left;
    }
    &__sline-items {
        display: flex;
        padding-bottom: 47px;
    }
    &__sline-item {
        width: 100%;
    }
    &__footer-text {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 47px;
    }
    &__footer-title {
        font-family: $font__main;
        font-size: 1.7rem;
        font-weight: 700;
        color: $color_gold;
        text-transform: uppercase;
        line-height: 1.7rem;
        padding-bottom: 30px;
    }
    &__footer-subtitle {
        font-family: $font__main;
        color: $color_grey;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 1.7rem;
        width: 875px;
    }
    &__button {
        width: 100;
        display: flex;
        justify-content: center;
    }
    &__btn {
        width: 352px;
        height: 44px;
        border-radius: 22px;
        background-color: $color_gold;
        border: none;
        outline: none;
        color: $color_text-btn;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 3rem;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            color: $color_white;
            background-color: $color_grey;
        }
    }
}

.program {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(21, 174, 239, 0.1);
    padding: 63px 0 60px 0;
    &__title {
        color: $color_text-blue;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 400;
        line-height: 2rem;
        padding-bottom: 47px;
    }
    &__subtitle {
        width: 530px;
        color: $color_text-blue;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 35px;
    }
    &__items {
        counter-reset: myCounter;
    }
    &__item {
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 400;
        list-style: none;
        position: relative;
        padding-left: 15px;
        &::before {
            counter-increment: myCounter;
            content: counter(myCounter) '.';
            display: inline-block;
            position: absolute;
            left: 0px;
            width: 5px;
            color: $color_text-blue;
        }
    }
    &__day {}
    &__icons {
        line-height: 20px;
        fill: $color_white;
        font-family: $font__main;
        font-size: 1.5rem;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__day-numb {
        width: 152px;
        height: 59px;
        border-radius: 10px;
        background-color: $color_text-blue;
        padding: 10px 0 10px 15px;
        margin: 50px 0 30px 0;
        display: flex;
        align-items: center;
        color: $color_white;
    }
    &__day-text {
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        line-height: 2.9rem;
    }
    &__day-count {
        color: $color_white;
        font-family: $font__main;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2rem;
    }
    &__day-items {
        padding-left: 30px;
        counter-reset: myCounter;
    }
    &__day-item {
        font-weight: 400;
        list-style: none;
        position: relative;
        padding-left: 40px;
        &::before {
            counter-increment: myCounter;
            content: counter(myCounter) '.';
            display: inline-block;
            position: absolute;
            left: 0px;
            width: 5px;
            color: $color_grey;
        }
    }
    &__webinar {
        padding: 20px 0 40px 21px;
        display: flex;
        align-items: center;
    }
    &__webinar-text {
        width: 500px;
        font-weight: 700;
        padding-left: 18px;
        line-height: 1.6rem;
    }
    &__line {
        width: 997px;
        height: 1px;
        background-color: $color_text-blue;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
}

.teacher {
    width: 100%;
    margin: 0 auto;
    background-color: $color_white;
    padding: 50px 0 58px 0;
    &__title {
        color: $color_grey;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 400;
        line-height: 2rem;
        padding: 0 0 41px 67px;
    }
    &__carousel {
        display: flex;
        padding-bottom: 27px;
    }
    &__carousel-left {
        width: 550px;
        display: flex;
    }
    &__l-text {
        width: 360px;
        height: 400px;
        background-color: $color_grey;
        border-radius: 30px 0 0 30px;
        padding: 63px 0 57px 68px;
    }
    &__name {
        width: 129px;
        color: $color_white;
        font-family: $font__main;
        font-size: 2.6rem;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 3.4rem;
        padding-bottom: 35px;
    }
    &__position {
        width: 199px;
        color: $color_white;
        font-family: $font__main;
        font-size: 1.7rem;
        font-weight: 300;
        padding-bottom: 45px;
        line-height: 2.1rem;
    }
    &__education {
        width: 233px;
        color: $color_white;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2rem;
    }
    &__foto {
        background-image: url(../img/litenko_v.jpg);
        width: 190px;
        height: 400px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 30px 30px 0;
        position: relative;
    }
    &__soc-fb {
        position: absolute;
        width: 53px;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        bottom: 27px;
        left: -27px;
        background-color: $color_text-blue;
        &:hover {
            cursor: pointer;
            background-color: $color_white;
        }
    }
    &__carousel-right {
        padding: 36px 0 0 40px;
    }
    &__experience {
        width: 408px;
        color: $color_grey;
        font-family: $font__main;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
        padding-bottom: 20px;
    }
    &__certs {
        display: flex;
        justify-content: space-between;
    }
    &__cert {
        position: relative;
        &-hover {
            display: none;
        }
        &:hover {
            cursor: pointer;
            .teacher__cert-hover {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 81px;
                height: 116px;
                background-color: rgba(0, 0, 0, 0.3);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &__pagination {
        width: 510px;
        height: 19px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__item {
        width: 12px;
        height: 12px;
        background-color: $color_grey;
        border-radius: 50%;
        margin: 0 12px;
        &:hover,
        &-active {
            cursor: pointer;
            background-color: $color_text-blue;
            border: none;
            width: 20px;
            height: 20px;
            margin: 0 8px;
        }
    }
}

.feedback {
    width: 100%;
    margin: 0 auto;
    background-color: $color_white;
    padding-bottom: 80px;
    &__style {}
    &__title {
        color: $color_blue;
        font-family: $font__main;
        font-size: 3rem;
        font-weight: 400;
        line-height: 2rem;
        padding: 0 0 43px 66px;
    }
    // .feedback__carousel
    &__carousel {
        border: 1px solid;
        display: flex;
        justify-content: space-between;
    }
    &__left-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // .feedback__slider
    &__slider {}
    // .feedback__right-arrow
    &__right-arrow {}
}